<%
if (typeof navPage == null) {
  var navPage = ''
}
%>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">NodeBoard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link<% if (navPage === 'home') { %> active<% } %>" href="/">홈</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<% if (navPage === 'write') { %> active<% } %>" href="/write">글쓰기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<% if (navPage === 'login') { %> active<% } %>" href="/login">로그인</a>
        </li>
      </ul>
      <form class="d-flex" action="/search">
        <input class="form-control me-2" type="search" name="q" placeholder="검색할 내용 입력..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>
</nav>
